html {
  box-sizing: border-box;
  /* margin: 0; */
  font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
}
*, *:before, *:after {
  box-sizing: inherit;
}


header {
  font-size: 26px;
}
a {
  text-decoration: none;
  color: red;
}
body{
  display: flex;
}
code {
  display:block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color:#f7f7f7;
  padding:15px;
  margin:10px;
  border-radius:5px;
}

nav {
  display: flex;
  flex-flow: column;
  margin: 10px;
  border-right: 2px solid red;
}
 nav header {
   font-size: 22px;
   margin: 10px;
 }

main {
  margin: 20px;
}

@media only screen and (max-width: 815px){


}
